.name-container{
    display: flex;
    flex-direction: row;
}

.name-container--firstname{
   
    flex-grow: 1;
    display: flex;
    margin-right:10px;
}
.name-container--lastname{
   
    flex-grow: 1;
    display: flex;
   
}
.name--firstname{    
    margin: 0px;
    padding:none;
    width: 100%;
}


@media screen and (max-width:600px){
    .name-container{
        display: flex;
        flex-direction: column;
    }
    
    .name-container--firstname{
   
        flex-grow: 1;
        display: flex;
        margin:0px 0px 10px 0px
    }
}